<!-- modified from this examplehttp://codepen.io/matthu185/pen/myyvgr?editors=110 -->
<form>

  <h1>Sign In</h1>

  <fieldset>

    <label for="mail">Email:</label>
    <input type="email" id="mail" name="user_email" #userEmail>

    <label for="password">Password:</label>
    <input type="password" id="password" name="user_password" #userPassword>

  </fieldset>
  <button (click)="loginUser(userEmail.value, userPassword.value)">Login</button>
  <div *ngIf="user.Item">
      email: {{user.Item.userEmail}}<br>
      username: {{user.Item.userName}}<br>
      password: {{user.Item.userPassword}}<br>
      group: {{user.Item.group}}
  </div>
</form>