<div class="row">
    <div class="large-12 columns">
        <h1>Form</h1>
    </div>
</div>

<div class="row">
    <div class="large12 medium-12 columns">
        <h5>We bet you&rsquo;ll need a form somewhere:</h5>

        <!-- filler text -->
        <ul>
            <li>Published Date</li>
            <li>?? Resource Type</li>
            <li>Summary</li>
            <li>Objectives</li>
            <li>Shared Learning Target</li>
            <li>Materials</li>
            <li>Background</li>
            <li>Instruction Plan (More detailed: Engage, Explore, Explain, Elaborate, Evaluate)</li>
            <li>Online Resources</li>
        </ul>

        </form>

    </div>
    <!-- /col -->
</div>