//colors
$color_cape_cod_approx: #384047;
$color_black_haze_approx: #f4f7f8;
$white_10: rgba(255,255,255,0.1);
$color_gin_approx: #e8eeef;
$color_regent_gray_approx: #8a97a0;
$black_3: rgba(0,0,0,0.03);
$white: #fff;
$color_emerald_approx: #4bc970;
$color_chateau_green_approx: #3ac162;
$white_20: rgba(255,255,255,0.2);

//fonts
$font_0: Nunito;
$font_1: sans-serif;

//@extend-elements
//original selectors
//input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select
%extend_1 {
	background: $white_10;
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: $color_gin_approx;
	color: $color_regent_gray_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 0 $black_3 inset;
	margin-bottom: 30px;
}


* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}
body {
	font-family: $font_0, $font_1;
	color: $color_cape_cod_approx;
}
form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: $color_black_haze_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
}
h1 {
	margin: 0 0 30px 0;
	text-align: center;
}
input[type="text"] {
	@extend %extend_1;
}
input[type="password"] {
	@extend %extend_1;
}
input[type="date"] {
	@extend %extend_1;
}
input[type="datetime"] {
	@extend %extend_1;
}
input[type="email"] {
	@extend %extend_1;
}
input[type="number"] {
	@extend %extend_1;
}
input[type="search"] {
	@extend %extend_1;
}
input[type="tel"] {
	@extend %extend_1;
}
input[type="time"] {
	@extend %extend_1;
}
input[type="url"] {
	@extend %extend_1;
}
textarea {
	@extend %extend_1;
}
select {
	@extend %extend_1;
	padding: 6px;
	height: 32px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
}
input[type="radio"] {
	margin: 0 4px 8px 0;
}
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}
button {
	padding: 19px 39px 18px;
	color: $white;
	background-color: $color_emerald_approx;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	width: 100%;
	border: 1px solid $color_chateau_green_approx;
	border-width: 1px 1px 3px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 -1px 0 $white_10 inset;
	margin-bottom: 10px;
}
fieldset {
	margin-bottom: 30px;
	border: none;
}
legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
label {
	display: block;
	margin-bottom: 8px;
	&.light {
		font-weight: 300;
		display: inline;
	}
}
.number {
	background-color: $color_emerald_approx;
	color: $white;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 0 $white_20;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
}
@media screen and(min-width: 480px) {
	form {
		max-width: 480px;
	}
}