<!-- FORM -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="panel panel-default">
                    <!-- Lesson Upload -->
                    <div class="panel-heading">
                        <div class="panel-title">Lesson Upload</div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="fa fa-chevron-down"></i></a>
                                </li>
                                <!--<li><a href="" data-toggle="refresh" class="portlet-refresh"><i class="fa fa-chevron-down"></i></a>
                      </li>
                       <li><a href="" data-toggle="close" class="portlet-close"><i class="portlet-icon portlet-icon-close"></i></a>
                      </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="lessontitle">Lesson Title</label>
                                    <input type="text" class="form-control" id="lessontitle" placeholder="Lesson Title">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Unit">Unit</label>
                                    <select class="form-control">
                                        <option>Action</option>
                                        <option>Field</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </div>
                <div class="panel panel-default">
                    <!-- Lesson Overview -->
                    <div class="panel-heading">
                        <div class="panel-title">Lesson Overview</div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="fa fa-chevron-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- Row nest -->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Grade">Grade</label>
                                            <select class="form-control">
                                                <option>6-8</option>
                                                <option>4th</option>
                                                <option>5th</option>
                                                <option>6th</option>
                                                <option>7th</option>
                                                <option>8th</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Grade">Class Periods</label>
                                            <select class="form-control" (change)="classPeriodSetter(period)">
                                                <option *ngFor="#period of periodOptions" >{{period}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Setting">Setting</label>
                                            <!-- ng2-bootstrap buttons -->
                                            <div class="btn-group">
                                                <label class="btn btn-info" [(ngModel)]="radioSetting" btnRadio="classroomSetting" uncheckable>Classroom</label>
                                                <label class="btn btn-info" [(ngModel)]="radioSetting" btnRadio="fieldSetting" uncheckable>Field</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="protocolconnections">Protocol Connections</label>
                                            <input type="text" class="form-control" id="lessontitle" placeholder="Lesson Title">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="SubjectArea"><i class="fa fa-graduation-cap"></i>SubjectArea(s) <span class="glyphicon glyphicon-option-vertical"
                                            aria-hidden="true" (click)="openDialog('subjectAreaModal')"></span></label>
                                        <!--<p [hidden]="showSubjectAreaModalSwitch">This is a dynamic module area</p>-->
                                        <!-- the contents/tags selected in the modal will go in here in an ngRepeat-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //Row nest -->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="lessonsummary">Lesson Summary</label>
                                <textarea class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/ Pannel-body -->
                </div>
                <!--/ Pannel -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <!-- Lesson Objectives -->
                            <div class="panel-heading">
                                <div class="panel-title">Lesson Objectives</div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="fa fa-chevron-down"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="objectives">Objectives</label>
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <!-- Materials & Resources -->
                    <div class="panel-heading">
                        <div class="panel-title">Materials & Resources</div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="fa fa-chevron-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="objectives">Supplies</label>
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="vocabulary">Teacher Resources</label>
                                        <textarea class="form-control" rows="6" placeholder="This is a dynamic module area"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="handouts">Handouts</label>
                                        <div class="form-group">
                                            <label for="exampleInputFile">File input</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Grad & Drop your Files or upload theme here</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="vocabulary">Vocabulary</label>
                                            <textarea class="form-control" rows="6" placeholder="This is a dynamic module area"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <!-- Background -->
                            <div class="panel-heading">
                                <div class="panel-title">Background</div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="fa fa-chevron-down"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="background">Background</label>
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="insttructionplan">Instruction Plan</label>
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="nycsciencescope">New York City Science Scope & Sequence</label>
                                            <input type="text" class="form-control" id="nycsciencescope" placeholder="Grade 8, Unit1: Humans and the Environment">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="ngssstandards">NGSS Standards</label>
                                            <input type="text" class="form-control" id="ngssstandards" placeholder="Select a Standard">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="commoncoreela">Common Core ELA</label>
                                            <input type="text" class="form-control" id="commoncoreela" placeholder="Select a Standard">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="commoncoremath">Common Core Math</label>
                                            <input type="text" class="form-control" id="commoncoremath" placeholder="Select a Standard">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>