<!-- modified from this examplehttp://codepen.io/matthu185/pen/myyvgr?editors=110 -->
<form>

  <h1>Sign Up</h1>

  <fieldset>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name" #userName>

    <label for="mail">Email:</label>
    <input type="email" id="mail" name="user_email" #userEmail>

    <label for="password">Password:</label>
    <input type="password" id="password" name="user_password" #userPassword>

  </fieldset>

  <fieldset>
    <label for="job">User Type:</label>
    <select id="job" name="user_job" #userType (change)="onChange($event, userType.value)">
      <option value="team-member">Student / Team Member</option>
      <option value="team-leader">Teacher / Team Leader</option>
    </select>
  </fieldset>
  <button (click)="signUpUser(userType.value, userEmail.value, userName.value, userPassword.value)">Sign Up</button>
   <div>{{response.signupMessage}}</div>
  
</form>